<html>
	<head>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="D&B Dataset Dashboard for Eaton">
		<meta name="author" content="Baihui Huang, Shawn Li, Emma Wei, Ren Zuo">

		<title>D&B Dataset Dashboard</title>

		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/leaflet.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">

		<script type="text/javascript" src="/static/libs/jquery.min.js"></script>
		<script type="text/javascript" src="/static/libs/d3.min.js"></script>
		<script type="text/javascript" src="/static/libs/leaflet.js"></script>
		<script type="text/javascript" src="/static/libs/datatables.min.js"></script>
		<script type="text/javascript" src="/static/libs/dataTables.bootstrap4.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
			<a class="navbar-brand mr-auto" href="#"><strong>D&B Dashboard</strong></a>
			<nav class="my-2 my-md-0 mr-md-3">
				<span id="dataset-tag" class="navbar-brand font-weight-light">Current Dataset: {{filename}}</span>
			</nav>
			<button id="summary-button" class="btn btn-outline-light">Summary</button>
			<a href="/"><button id="reset-button" class="btn btn-outline-light">Reload</button></a>
		</nav>

		<div id="main-container" class="container row">
			<div class="col-sm-6 full-height">
				<div id="hierarchy-container" class="view-container">
					<div id="hierarchy-sub-container">
						<div id="hierarchy-info">
							<div><span class="info-header">Name: </span>		<span id="hierarchy-info-name"></span></div>
							<div><span class="info-header">Location: </span>	<span id="hierarchy-info-location"></span></div>
							<div><span class="info-header">Address:</span>		<span id="hierarchy-info-address"></span></div>
							<div><span class="info-header">SIC:</span>			<span id="hierarchy-info-SIC"></span></div>
							<div><span class="info-header">LastUpdate:</span>	<span id="hierarchy-info-lastUpdate"></span></div>
							<div><span class="info-header">Completeness:</span>	<span id="hierarchy-info-completeness"></span></div>
							<div><span class="info-header">HierarchyLevel:</span> <span id="hierarchy-info-hierarchy"></span></div>
							<div><span class="info-header">Revenue:</span> <span id="hierarchy-info-revenue"></span></div>
						</div>
						<div id="hierarchy-control" class="btn-group">
							<button id="hierarchy-unselect-btn" class="btn btn-light">Unselect</button>
							<button id="hierarchy-branch-btn" class="btn btn-light">Branches</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 full-height no-rt-pd container row">
				<div id="third-container">
					<div class="col-sm-4 full-height">
						<div id="search-container" class="view-container">
							<span>search view: in progress</span>
<!-- 							<form id="filter-form" action="/api/filter" method="GET">
								<div>
									<label class="sr-only" for="inlineFormInput">Name</label>
									<input class="form-control mb-2" id="inlineFormInput" type="text" name="keyword" placeholder="Default input">
								</div>
								<button type="submit" class="btn btn-outline-primary btn-block">Search</button>
								<div id="form-check-container">
									<h6>Lines of Business</h6>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
										<label class="form-check-label" for="defaultCheck1">
											Select All
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
										<label class="form-check-label" for="defaultCheck1">
											Advertising agencies, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
										<label class="form-check-label" for="defaultCheck2">
											Air transportation, scheduled, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
										<label class="form-check-label" for="defaultCheck3">
											Aircraft engines and engine parts
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
										<label class="form-check-label" for="defaultCheck4">
											Aircraft parts and equipment, nec, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
										<label class="form-check-label" for="defaultCheck5">
											Aircraft, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
										<label class="form-check-label" for="defaultCheck6">
											Airports, flying fields, and services
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
										<label class="form-check-label" for="defaultCheck7">
											Architectural metalwork
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
										<label class="form-check-label" for="defaultCheck8">
											Auto and home supply stores, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
										<label class="form-check-label" for="defaultCheck9">
											Automobiles and other motor vehicles, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
										<label class="form-check-label" for="defaultCheck10">
											Automotive repair shops, nec
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
										<label class="form-check-label" for="defaultCheck11">
											Automotive services, nec, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
										<label class="form-check-label" for="defaultCheck11">
											Bank holding companies
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
										<label class="form-check-label" for="defaultCheck11">
											Blast furnaces and steel mills, nsk
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
										<label class="form-check-label" for="defaultCheck11">
											Blowers and fans
										</label>
									</div>
								</div>
							</form> -->
						</div>
					</div>
					<div class="col-sm-8 full-height">
						<div id="tornado-container" class="view-container">
							<div id="tornado-head-container" class="tornado-base-container">
								<div id="tornado-head-name-div" class="col-sm-4 tornado-name">
									<span id="tornado-head-name"></span>
								</div>
								<div id="tornado-head-chart-div" class="col-sm-8"></div>
							</div>
							<div id="tornado-body-container">
								<div class="tornado-base-container">
									<div id="tornado-1-name-div" class="col-sm-4 tornado-name">
										<span id="tornado-1-name"></span>
									</div>
									<div id="tornado-1-chart-div" class="col-sm-8"></div>
								</div>
							</div>
						</div>
					</div>
<!-- 					<div class="col-sm-3 full-height">
						<div id="detail-one-container" class="view-container">detail view</div>
					</div> -->
<!-- 					<div class="col-sm-2 full-height">
						<div id="detail-two-container" class="view-container">detail view</div>
					</div> -->
				</div>
				<div id="forth-container">
					<div class="col-sm-9 full-height">
						<div id="map-container" class="view-container">
							<div id="map-canvas">
							</div>
						</div>
					</div>
					<div class="col-sm-3 full-height">
						<div id="stat-container" class="view-container">
							<h6 id="stat-company-name"></h6>
							<div class="stats-sub-info">
								<span><strong># Entities: </strong><span id="stat-total-count"></span></span>
								<span>- Roots & Subsidiaries: <span id="stat-root-subs-count"></span></span>
								<span>- Branches: <span id="stat-branch-count"></span></span>
							</div>
							<div class="stats-sub-info">
								<span><strong># Roots: </strong><span id="stat-root-count"></span></span>
								<span>- In-tree Entities: <span id="stat-in-tree-count"></span></span>
							</div>
							<div class="stats-sub-info">
								<span><strong># PNID Entities: </strong><span id="stat-pnid-count"></span></span>
								<span>- Out-tree Entities: <span id="stat-out-tree-count"></span></span>
							</div>
							<div class="stats-sub-info">
								<span>Max Hierarchy: <span id="stat-max-hierarchy"></span></span>
							</div>
							<div class="stats-sub-info">
								<span><strong># Global Ultimate: </strong><span id="stat-global-ultimate-count"></span></span>
								<span>- Missing G-Ultimate: <span id="stat-missing-global-count"></span></span>
								<span>- Revenue: <span id="stat-total-revenue"></span></span>
								<span>- # Emp.: <span id="stat-total-emp"></span></span>
							</div>
							<div>
								<button id="summary-button-2" class="btn btn-outline-primary btn-block">Summary</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="summary-container" class="container">
			<div id="company-container">
				<div>
					<span id="company-name"></span>
				</div>
				<div id="source-info-container">
					<span class="source-info">collected based on </span>
					<span id="company-source-count" class="source-info"></span>
					<span class="source-info"> global ultimates</span>
				</div>
			</div>
			<span class="section-title">Global Parents: </span>
			<div id="global-parents-container">
				<table id="global-parents-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead></thead>
					<tbody></tbody>
				</table>
			</div>
			<span class="section-title">Statistics: </span>
			<div id="stats-container">
				<div id="total-stats-container" class="col-sm-6">
					<div class="col-sm-5">
						<div id="entity-count-info" class="side-stats-info">
							<span class="info-title"># Roots & Subsidiaries: </span>
							<span id="non-branch-count" class="side-info"></span>
						</div>
						<div id="branch-count-info" class="side-stats-info">
							<span class="info-title"># Branches: </span>
							<span id="branch-count" class="side-info"></span>
						</div>
					</div>
					<div id="total-count-info" class="col-sm-7">
						<span class="info-title"># Total Entities: </span>
						<span id="total-count"></span>
					</div>
				</div>
				<div id="in-tree-stats-container" class="col-sm-3">
					<div class="col-sm-5 demo-img">
						<img src="/static/css/images/intree.png">
					</div>
					<div class="col-sm-4">
						<div class="detail-stats-info detail-stats-border">
							<span class="info-title"># Root Entities </span>
						</div>
						<div class="detail-stats-info">
							<span class="info-title"># In-Tree (Roots & children)</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="detail-stats-info detail-stats-border">
							<span id="root-count" class="side-info"></span>
						</div>
						<div class="detail-stats-info">
							<span id="in-tree-count" class="side-info"></span>
						</div>
					</div>
				</div>
				<div id="out-tree-stats-container" class="col-sm-3">
					<div class="col-sm-5 demo-img">
						<img src="/static/css/images/outtree.png">
					</div>
					<div class="col-sm-4">
						<div class="detail-stats-info detail-stats-border">
							<span class="info-title"># Parent-not-in-Dataset Entities </span>
						</div>
						<div class="detail-stats-info">
							<span class="info-title"># Out-Tree (PNIDs & children)</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="detail-stats-info detail-stats-border">
							<span id="pnid-count" class="side-info"></span>
						</div>
						<div class="detail-stats-info">
							<span id="out-tree-count" class="side-info"></span>
						</div>
					</div>
				</div>
			</div>
			<span class="section-title">Parent-not-in-Database Entities: </span>
			<div id="pnid-entities-container">
				<table id="pnid-entities-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead></thead>
					<tbody></tbody>
				</table>
			</div>
			<span class="section-title">All Entries: </span>
			<div id="metadata-container">
				<table id="metadata-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

		<script type="text/javascript" src="/static/scripts/config.js"></script>
		<script type="text/javascript" src="/static/scripts/hierarchy_view.js"></script>
		<script type="text/javascript" src="/static/scripts/map_view.js"></script>
		<script type="text/javascript" src="/static/scripts/tornado_view.js"></script>
		<script type="text/javascript" src="/static/scripts/stat_view.js"></script>
		<script type="text/javascript" src="/static/scripts/summary_view.js"></script>
		<script type="text/javascript" src="/static/scripts/index.js"></script>
	</body>
</html>